.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.heroText {
  font-size: 80%;
}

.gambar {
  width: 300px;
  height: auto;
}
