{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<meta http-equiv="pragma" content="no-cache" />
<title>Your Awesome App</title>
<!-- Start of page content -->


<!-- Text landing -->
<div class="container">
    <img src="{% static 'assets/gambar.jpg' %}" class="gambar">
    <div class="heroText">
        belajar PPW biar ngerti caranya gimana huhuhu semangat semuanya! plus ada SDA juga yuk semangat yuk kita semua bisa survive semester oke!
        <br> terimakasih untuk teman-teman yang sudah nyodok ppw di smt 2 dan udh bikin starter pack caranya deploy, nikin project django dll!
        <br> bgt 
    </div>
    <div>
        ❤️ semangat @QUANTA ❤️
    </div>
</div>